// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 20px;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #ccc;
}

body {
  font-size: 1.05em;
}
